<!DOCTYPE html>
<html>
  <head>
    <title>Shepherd</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>
  <body>
    <div class="body">
      <%- include("components/navbar"); %>
      <div class="content">
      </div>
    </div>
  </body>
</html>
