<!DOCTYPE html>
<html>
  <head>
    <title>Shepherd</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>
  <body>
    <div class="body">
      <%- include("components/navbar"); %>
      <div class="content">
        <div class="scrappers">
          <% scrapperList.forEach((val, key) => { %>
            <a href="/scrapper/<%= key %>">
              <%= val["city"] + " (" + val["state"] + ")" %>
            </a>
          <% }) %>
        </div>
      </div>
    </div>
  </body>
</html>
