.content {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.scrappers {
  width: 800px;
  padding: 10px;
  font-weight: bold;
  background: #F2850033;
}

.scrapper {
  margin: 10px;
}
